.navbar{
    width: 100%;
    height: 4rem;
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navlink{
    float: right;
    padding-right: 30px;
}
.navlink ul li{
display: inline-block;
padding-right: 30px;
cursor: pointer;
}
.navlink ul li a{
    font-size: clamp(1rem, 1.25vw, 2rem);
    text-decoration: none;
    color: white;
    cursor: pointer;
}
.navbutton::after{
    content: "";
    width: 0;
    height: 2px;
    display: block;
    background-color: white;
    transition: width 0.3s ease;
}
.navbutton:hover::after{
    width: 100%;
}
.shopcart{
    position: fixed;
    bottom: 0;
    left: 0;
    transition: border 0.3 ease;
    cursor: pointer;
}


/**.search:hover{
width: 70px;
}*/
.search{
    font-weight: 500;
    transition: 0.8s;
    background: white;
}

.welcome{
    text-align: center;
    background-image: linear-gradient(to top, rgba(255, 255, 255, 0),rgb(94, 89, 70)), url(picture/cafe.jpg);
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}
.welcome img{
    margin: auto;
    padding-inline: 50px;
}
.promotion h1{
    padding-top: 15px;
    text-align: center;
}
.promotion ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.appetizers h1{
    padding-top: 15px;
    text-align: center;
}
.appetizers ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.mains h1{
    padding-top: 15px;
    text-align: center;
}
.mains ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.beverages h1{
    padding-top: 15px;
    text-align: center;
}
.beverages ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
}